@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  padding-bottom: 50px;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  border: 2px solid white;
  background-color: transparent;
  width: 15px;
  height: 15px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: white;
}
